@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.container{
   width: 100%;
   padding-right: var(--bs-gutter-x,.75rem);
   padding-left: var(--bs-gutter-x,.75rem);
   margin-right: auto;
   margin-left: auto;
   @media(min-width: $mobile){
      max-width: 540px;
   }
   @media(min-width: $tabletMd){
      max-width: 720px;
   }
   @media(min-width: $tabletLg){
      max-width: 960px;
   }
   @media(min-width: $desktop){
      max-width: 1140px;
   }
   @media(min-width: $desktopLg){
      max-width: 1320px;
   }
}
ul{
   padding: 0;
   margin: 0;
   li{
      list-style: none;
   }
}
a{
   text-decoration: none;
   font-family: 'Graphik-Regular';
   font-size: 15px;
   line-height: 28px;
   color: $lightText;
}
body{
   margin: 0;
   padding: 0;
}

.button-primary{
   background-color: $colorPrimary;
   border-radius: 35px;
   color: $lightText;
   padding: 16px 62px;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: 0.2px;
   text-align: center;
   font-family: 'Graphik-Regular';
   border: none;
   display: inline-block;
   cursor: pointer;
}

.title-section{
   max-width: 560px;
   margin: auto;
   h3{
      font-family: 'Graphik-Regular';
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $titleSection;
      font-weight: normal;
   }
   p{
      font-family: 'Graphik-Regular';
      font-size: 28px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $secondText;
   }
}
input[type="text"]{
   background: #F4F4F4;
   border: 1px solid #E8E8E8;
   box-sizing: border-box;
   border-radius: 39px;
   padding: 19px 39px;
   outline: none;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.1px;
   color: $textinput;
   &:focus-visible, &:focus{
      outline: none;
   }
}